<!DOCTYPE html>
<html>
  <head>
    <title>LEY-ZJ</title>
    <%= favicon_link_tag 'Logo.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render "layouts/header" %>

  <body class="main-body">
    
    <div class="app-cont">
      <%= yield %>
    </div>

  </body>
</html>
